<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Confirmar Factura</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/jquery-confirm/jquery-confirm.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap/bootstrap-custom.css}" />
<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
<script type="text/javascript"
	th:src="@{/js/bootstrap/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/qr-code/qr_packed.js}"></script>
<script type="text/javascript"
	th:src="@{/js/jquery-confirm/jquery-confirm.min.js}"></script>


<script type="text/javascript" th:src="@{/js/sourcesistemas/table.js}"></script>


</head>
<body>
	<div class="container">
		<div class="table-responsive">
			<table class="table">
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">Nombre</th>
						<th scope="col">Precio</th>
						<th scope="col">Cantidad</th>
						<th scope="col">Sub Total</th>
						<th scope="col">Delete</th>
					</tr>
				</thead>
				<tbody id="productList">

				</tbody>
			</table>
			<div class="panel-footer">
				Total:<label id="total"></label>
			</div>
		</div>

		<label> Paga con: <label id="finalPayMethod"
			th:text="${checkDTO.payWith}" id="payWith"></label></label><br /> <input
			type="button" value="modificar metodo de pago" class=".btn-default"
			onClick="modifyPayMethod()" /> <br /> <select id="payMethod"
			class="form-control" style="display: none; width: 14%;">
			<option th:each="dropdownValue: ${payWith}"
				th:value="${dropdownValue}" th:text="${dropdownValue}"></option>
		</select>
		<button class="btn btn-md btn-danger btn-block" name="registration"
			type="Submit" onClick="finish()">Finalizar</button>
	</div>
	<input type="button" onClick="clearAll()" value="limpiar" />
	<input type="button" onClick="volver()" value="volver" />
</body>
<script type="text/javascript">
	function modifyPayMethod() {
		$("#payMethod").show();
	}
	function volver() {
		window.location.replace("home");
	}

	function finish(){
		
		var  checkDTO = getExpensesFromTable();
		checkDTO.payWith = $(".payWith").html();
		$.ajax({
			type : "GET",
			url : "finishCheck",
			success : function() {
				alert('all done, check the database');
			},
			error : function(e) {
				console.log(e);
			}
		});
		
	}
	function clearAll() {
		$.ajax({
			type : "GET",
			url : "clearAll",
			success : function() {
				alert('all cleared');
			},
			error : function(e) {
				console.log(e);
			}
		});
		window.location.replace("home");
	}

	$(document).ready(function() {
		$('#payMethod').on('change', function(e) {
			var optionSelected = $("option:selected", this);
			var valueSelected = this.value;
			if (valueSelected != "Seleccione...") {
				$("#finalPayMethod").html(valueSelected);
				$("#payMethod").hide();
			} else {
				$("#payMethod").hide();
			}
		});
		refreshTable();
	});
</script>

</html>