<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>Menu de usuario</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script
	src="https://rawgit.com/sitepoint-editors/jsqrcode/master/src/qr_packed.js"></script>






<script type="text/javascript">
	function showQRIntro() {
		return confirm("Use your camera to take a picture of a QR code.");
	}

	function openQRCamera(node) {
		var reader = new FileReader();
		reader.onload = function() {
			node.value = "";
			qrcode.callback = function(res) {
				if (res instanceof Error) {
					alert("No QR code found. Please make sure the QR code is within the camera's frame and try again.");
				} else {
					node.parentNode.previousElementSibling.value = res;
				}
			};
			qrcode.decode(reader.result);
		};
		reader.readAsDataURL(node.files[0]);
	}
	function openModal() {
		$.ajax({
			type : "GET",
			traditional : true,
			url : "getModal.htm",
			data : "modalName=expenseModal",
			success : function(response) {
				console.log(response);
				$('.modal').append(response);
				$('.modal').modal();
			},
			error : function(e) {
				console.log(e);
			}
		});

	}

	function addExpense() {

	}
</script>
<style>
.qrcode-text {
	padding-right: 1.7em;
	margin-right: 0;
	vertical-align: middle;
}

.qrcode-text+.qrcode-text-btn {
	width: 1.7em;
	margin-left: -1.7em;
	vertical-align: middle;
}

.qrcode-text-btn {
	display: inline-block;
	height: 1em;
	width: 1em;
	background: url(../cvs/qr_icon.svg) 50% 50% no-repeat;
	cursor: pointer;
}

.qrcode-text-btn>input[type=file] {
	position: absolute;
	overflow: hidden;
	width: 1px;
	height: 1px;
	opacity: 0;
}
</style>
</head>

<body>
	<div class="container">



		<div class="panel-group" style="margin-top: 40px">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<span th:utext="${'Bienvenido ' + currentUser.name}"></span>
				</div>
				<div class="panel-body">
					<img
						src="https://i.pinimg.com/originals/5c/d4/63/5cd463f3c2da16a7e5b8cbcb96382128.jpg"
						class="img-responsive center-block" width="400" height="400"
						alt="Beer" />
				</div>

				<button class="btn btn-md btn-warning btn-block" name="addExpense"
					onClick="addExpense()">+</button>

				<form th:action="@{/getExpenses}" method="get">
					<button class="btn btn-md btn-warning btn-block" name="addExpense"
						type="Submit">Ver mis gastos</button>
				</form>
				<form th:action="@{/logout}" method="get">
					<button class="btn btn-md btn-danger btn-block" name="registration"
						type="Submit">Deslogearse</button>
				</form>
			</div>
		</div>
	</div>
	<button type="button" class="btn btn-primary" data-toggle="modal"
		onClick="openModal()">Launch demo modal</button>

	<!-- modal -->
	<div class="modal" tabindex="-1" role="dialog"></div>
	<!--fin modal -->
	<!-- 
		prueba camara	
			
			 -->
	<input type=text class=qrcode-text>
	<label class=qrcode-text-btn> <input type=file accept="image/*"
		capture=environment onclick="return showQRIntro();"
		onchange="openQRCamera(this);" tabindex=-1>
	</label>
	<!-- 
fin		prueba camara	
			
			 -->

</body>
</html>