<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>Menu de usuario</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script
	src="https://rawgit.com/sitepoint-editors/jsqrcode/master/src/qr_packed.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.js"></script>



<script type="text/javascript">
function getProductById(){
	$.ajax({
		type : "GET",
		url : "getProductById.htm",
		contentType: "application/json",
		data : "id=1",
		success : function(response) {
			console.log(response);
			alert(response);
		},
		error : function(e) {
			console.log(e);
		}
	});	
	
}

function agregarProduct() {
	var expense = new Object();	
	expense.name = $('#myInput').val();
	expense.price = $("#price").val();
	expense.qty = $("#quantity").val();
	expense.total = expense.qty*expense.price;
	if(expense.name != null && expense.name != ""){
	addExpense(expense);
	}

	}
function getProductPriceByName(event){
	setTimeout(function() {

	productName =event.srcElement.value;
		$.ajax({
			type : "GET",
			traditional : true,
			url : "getProductPriceByName.htm",
			data : "productName="+productName,
			success : function(response) {
	$("#price").val(response);

			},
			error : function(e) {
				console.log(e);
			}
		}); 
		}, 100);

	
	
	
}
function addExpense(expense){
	$("#productList").append(generateExpenseHtml(expense));
	
}
function generateExpenseHtml(expense){

return '<tr><th scope="row">'.concat($('tr').length ).concat('</th>').concat('<td>').concat(expense.name).concat('</td>').concat('<td>').concat(expense.price).concat('</td>').concat('<td>').concat(expense.qty).concat('</td><td>').concat(expense.total).concat('</td><td><input class="btn btn-md btn-danger btn-block" value="x" type="button" onClick="confirmDeleteRow(this)"/></td></td></tr>');
}
	function showQRIntro() {
		return confirm("Use your camera to take a picture of a QR code.");
	}

	function openQRCamera(node) {
		var reader = new FileReader();
		console.log(node);
		reader.onload = function() {
			node.value = "";
			qrcode.callback = function(res) {
				if (res instanceof Error) {
					alert("No QR code found. Please make sure the QR code is within the camera's frame and try again.");
				} else {
					alert(res);
				}
			};
			qrcode.decode(reader.result);
		};
		reader.readAsDataURL(node.files[0]);
		console.log(reader);
		
	}
	function modalClear() {
		$('.modal').empty();

	}
	function deleteRow(something) {
		other = $(something).closest('tr').remove();
		console.log(other);
	}


	function confirmDeleteRow(row){
	$.confirm({
	    title: 'Confirmar!',
	    animationBounce: 2.5,
	    content: 'Desea eliminar?',
	    buttons: {
	        borrar: function () {
					deleteRow(row);
	        },
	        cancel: function () {
	            $.alert('Cancelado!');
	        },
	        edit : function(){
	            $.alert('Editado!');
	        	
	        }
	    }
	});
	}

	function openModal() {
		modalClear();
		$.ajax({
			type : "GET",
			traditional : true,
			url : "getModal.htm",
			data : "modalName=expenseModal",
			success : function(response) {
				$('.modal').append(response);
				$('.modal').modal();
			},
			error : function(e) {
				console.log(e);
			}
		});

	}
</script>
<style>
.qrcode-text {
	padding-right: 1.7em;
	margin-right: 0;
	vertical-align: middle;
}

.qrcode-text+.qrcode-text-btn {
	width: 1.7em;
	margin-left: -1.7em;
	vertical-align: middle;
}

.qrcode-text-btn {
	display: inline-block;
	height: 1em;
	width: 1em;
	background: url(../cvs/qr_icon.svg) 50% 50% no-repeat;
	cursor: pointer;
}

.qrcode-text-btn>input[type=file] {
	position: absolute;
	overflow: hidden;
	width: 1px;
	height: 1px;
	opacity: 0;
}
</style>
</head>

<body>
	<div class="container">



		<div class="panel-group" style="margin-top: 40px">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<span th:utext="${'Bienvenido ' + currentUser.name}"></span>
				</div>
				<div class="panel-body">
					<img
						src="https://i.pinimg.com/originals/5c/d4/63/5cd463f3c2da16a7e5b8cbcb96382128.jpg"
						class="img-responsive center-block" width="400" height="400"
						alt="Beer" />
				</div>

				<button class="btn btn-md btn-warning btn-block" name="addExpense"
					onClick="openModal()">+</button>
				<div class="panel-group">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" href="#collapse1"> Productos</a>
							</h4>
						</div>
						<div id="collapse1" class="panel-collapse collapse">
							<ul class="list-group">
								<table class="table">
									<thead>
										<tr>
											<th scope="col">#</th>
											<th scope="col">Nombre</th>
											<th scope="col">Precio</th>
											<th scope="col">Cantidad</th>
											<th scope="col">Total</th>
											<th scope="col">Delete</th>
										</tr>
									</thead>
									<tbody id="productList">
									</tbody>
								</table>
							</ul>
							<div class="panel-footer">Total:<label id="total"></label></div>
						</div>
					</div>
				</div>

					<button class="btn btn-md btn-danger btn-block" name="registration"
						type="Submit">Facturar</button>

			</div>
		</div>
	</div>
<input type="button" onClick="getProductById()" value="prueba ajax"/>
	<!-- modal -->
	<div class="modal" tabindex="-1" role="dialog"></div>
	<!--fin modal -->
	<!-- 
		prueba camara	
			
			 -->
	<label class=qrcode-text-btn> <input type=file accept="image/*"
		capture=environment onclick="return showQRIntro();"
		onchange="openQRCamera(this);" tabindex=-1>
	</label>
	<!-- 
fin		prueba camara	
			
			 -->

</body>
</html>